name: Build and test new or changed versions

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    paths:
      - versions.json
      - Dockerfile

jobs:
  configure:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      # set to output of new versions or all versions
      matrix: ${{ steps.set-matrix-new-versions.outputs.matrix || steps.set-matrix-all-versions.outputs.matrix }}
      safeRefName: ${{ steps.safeRefName.outputs.REF }}
    steps:
      - name: Get changed paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: changes
        with:
          filters: |
            dockerfile:
              - 'Dockerfile'
      - name: Checkout current ref
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: "./new"
      - if: steps.changes.outputs.dockerfile == 'false'
        name: Checkout target ref
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          path: "./old"
      - if: steps.changes.outputs.dockerfile == 'false'
        name: Set matrix data to new and changed versions
        id: set-matrix-new-versions
        run: |
          echo "matrix=$(jq -c -n '[inputs] as $files | ($files[0] - $files[1]) | map({ version: .version })' new/versions.json old/versions.json)" >> $GITHUB_OUTPUT
      - if: steps.changes.outputs.dockerfile == 'true'
        name: Set matrix data to all versions
        id: set-matrix-all-versions
        run: |
          echo "matrix=$(jq -c '. | map({ version: .version })' < new/versions.json)" >> $GITHUB_OUTPUT
      - name: Validate that either new or changed versions exist
        run: |
          if [[ "${{ steps.set-matrix-new-versions.outputs.matrix }}" == "" && "${{ steps.set-matrix-all-versions.outputs.matrix }}" == "" ]]; then
            echo "No new or changed versions found."
            exit 1
          fi
      - name: Get safe ref name
        id: safeRefName
        run: |
          ref=${{github.ref}}
          echo "REF=${ref//\//-}" >> "$GITHUB_OUTPUT"

  build:
    name: Build and test v${{matrix.version.version }} on ${{ matrix.platform.os }}/${{ matrix.platform.arch }}
    needs: configure
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ${{ fromJson(needs.configure.outputs.matrix) }}
        platform:
          - os: linux
            arch: arm64
          - os: linux
            arch: amd64
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          load: true
          push: false
          build-args: |
            NODE_VERSION=${{ matrix.version.version }}
          platforms: ${{ matrix.platform.os }}/${{ matrix.platform.arch }}
          cache-to: type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{matrix.version.version}}-${{ matrix.platform.os }}-${{ matrix.platform.arch }}-${{needs.configure.outputs.safeRefName}},mode=max
          tags: |
            nvitaterna/nodejs-distroless:${{ matrix.version.version }}
          cache-from: |
            type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{matrix.version.version}}-${{ matrix.platform.os }}-${{ matrix.platform.arch }}-${{needs.configure.outputs.safeRefName}}
            type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{matrix.version.version}}-${{ matrix.platform.os }}-${{ matrix.platform.arch }}
      - name: Test Docker image
        run: |
          docker run --platform ${{ matrix.platform.os }}/${{ matrix.platform.arch }} --rm nvitaterna/nodejs-distroless:${{ matrix.version.version }} --version | grep -q "v${{ matrix.version.version }}"
